<h3> Hi, I'm Doctor {{HCP.get_username()}}</h3>
<h3> I'm a {{HCP.get_profession}} </h3>
<h3> my rating is: {{HCP.get_avg_rating()}} </h3>
{%if HCP.get_HCP_email == current_user._email%}
<h4> I work at the following centers: </h4>
    {% for location in HCP.get_aff_HCC_centers %}
    <div>
          <a href="{{url_for('centerProfile', HCCname=location)}}"><button style="cursor: pointer">{{location}}!</button></a>
        </div>
        <br>
    {% endfor %}

{%else%}

<h4> Book an appointment with me at the following centers: </h4>

    {% for location in HCP.get_aff_HCC_centers %}
        <div>
          <a href="{{url_for('book', HCPusername=HCP._email, location=location)}}"><button style="cursor: pointer">{{location}}!</button></a>
        </div>
        <br>
    {% endfor %}

    <form method="POST">
	    <select name="rating">
	        {% for rating in ratings %}
	            <option value = "{{ rating }}">{{ rating }}</option>
	        {% endfor %}
	    </select>
	    <button name="action" value = "rate" type='submit'>rate me</button><br/>
    </form>

{%endif%}

